/*
* Colors.scss
*
* This file defines the global color variables
*/

$primary-color: #000000;
$secondary-color: #d9fed3;
$accent-color: rgb(85, 239, 196);
$gray-color: #eeeeee;
$light-grey-color: #fafafa;
$light-color: #ffffff;
$border-color: #ececec;
$text-color: #000000;
$text-secondary-color: #4943da;
$text-third-color: #8b8b8b;
$text-fourth-color: rgb(77, 89, 106);
$text-opacity77: #3a3a3ac4;
$text-opacity55: 8c;
$text-opacity33: 54;
$text-opacity15: 26;
$text-opacity10: 1a;
$text-opacity05: 0d;
