.input-container {
  width: 15rem;
  padding: 0;
  .select-container {
    width: 10rem;
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
      padding: 0.5rem;
    }
    .menu {
      background-color: red;
      width: 10rem;
    }
  }
}

.text-temp {
  padding: 0.2rem 0.5rem 0 0.5rem;
}

.menu-item {
  padding: 0.2rem 0.5rem !important;
}
