@import "../../../styles/colors";

.text-input {
  position: relative;
  .MuiFormControl-root {
    width: 100%;
  }
  input {
    padding: 10px;
    height: 1rem;
  }
}

.text-input.small {
  width: 12rem;
}

.text-input.large {
  width: 15rem;
}
